.banner-section {
  background-color: var(--black1-clr);
  padding: 118px 0;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/main-background-mobile.jpg);
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/main-background-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main-background-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/main-background-tablet@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main-background.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/main-background@2x.jpg);
      }
    }
  }
}

.banner-section__headline {
  // display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.headline {
  color: var(--white-clr);
  max-width: 365px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61em;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36em;
    max-width: 696px;
  }
}

.banner-section__button {
  background: var(--blue-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: center;
  color: var(--white-clr);
  border: 0;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 41px;
  margin: 0 auto;
}
