.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white1-clr);
}

.our-team__headline {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: var(--black-clr);
  margin-bottom: 50px;
}

.our-team__workers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 30px;
}

.our-team__card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.our-team__description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-block: 30px;
  background-color: var(--white-clr);
}

.our-team__description--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--black-clr);
}

.our-team__description--job {
  font-size: 16px;
  line-height: 1;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 32px;
}

.social-media__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition-property: background-color, fill;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__icon--small {
  width: 20px;
  height: 20px;
  fill: var(--socials);
}

.social-media__icon:hover {
  border-radius: 50%;
  background-color: var(--blue-clr);
  fill: var(--white-clr);
}

.social-media__icon:hover .social-media__icon--small {
  fill: var(--white-clr);
}

.social-media__icon:focus {
  border-radius: 50%;
  background-color: var(--blue-clr);
  fill: var(--white-clr);
}

.social-media__icon:focus .social-media__icon--small {
  fill: var(--white-clr);
}
