.our-attributes {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-attributes__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.our-attributes__list--item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 25px;
  background-color: var(--white1-clr);

  @media screen and (min-width: 768px) {
    width:354px;
  }
  
  @media screen and (min-width: 1200px) {
    width:270px;
  }
  
}

.our-attributes__list--icon {
  width: 70px;
  height: 70px;
}

.our-attributes__list--headline {
  font-size: 14px;
  line-height: 1;
  color: var(--black-clr);
  margin-bottom: 10px;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    width:354px;
  }
  
  @media screen and (min-width: 1200px) {
    width:270px;
  }

}

.our-attributes__list--paragraph {
  line-height: 1.71;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width:354px;
  }
  
  @media screen and (min-width: 1200px) {
    width:270px;
  }
}
