body {
  font-family: "Roboto", sans-serif;
  color: var(--grey1-clr);
  background-color: var(--white-clr);
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}
