:root {
  --white-clr: #ffffff;
  --blue-clr: #2196f3;
  --black-clr: #000000;
  --black1-clr: #2f303a;
  --grey-clr: #ffffff99;
  --grey1-clr: #757575;
  --white1-clr: #f5f4fa;
  --socials: #afb1b8;
}
